@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 1200px;
  margin: 0 auto;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid ;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}


h2{
  text-align: center;
  color: grey;
}

/* Grid Layout */
.container {
  margin: 15px auto;
  display: grid;
  width: 80%;

  grid-template-rows: auto 1fr;
  /*grid-template-columns: repeat(1fr);*/
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas: 
  "head head head head"
  "main main main aside";

  gap: 5px;

}
.centrado{
  margin: 0px auto;
}

header {
  grid-area: head;

  display: flex;
  justify-content: space-around;

}

header div:last-child form, header div:last-child section{
  border-radius: 5px;
  border: 3px solid black;
}


header div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header div section{
  display: flex;
  justify-content: space-between;
}

main {
  grid-area: main;
  
}


main div.centrado{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  

}

main div.centrado div{
  border-radius: 5px;
  background-color: gainsboro;
  display:flex;
  border: 3px solid grey;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);  
}

main div.centrado h3{
  text-align: center;
}

aside{

  grid-area: aside;

  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
  align-items: center;

}

aside section{
  display: none;
}

aside section p{
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}

.add, .delete{
  margin:10px;
  background-color: yellow;
  font-weight: bold;
  padding:5px;
}

.lista{
  list-style: none;
}

ul li{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  

}

